<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.docent.sp1.mapper.BoardMapper">

    <sql id="search">
        <where>
            <if test="keyword != null">
                <foreach collection="types" item="item" separator=" OR " open="(" close=")">
                    <if test='item == "t"'>
                        title like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "c"'>
                        location like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "w"'>
                        introduce like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

    <insert id="insert">
        <selectKey resultType="int" keyProperty="bno" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into tbl_doc (title, image, classify,location,introduce,audio)
        values (#{title},#{image}, #{classify},#{location},#{introduce},#{audio})
    </insert>
    <select id="selectList" resultType="com.docent.sp1.domain.Board">
      select bno,title,image,classify,location,introduce,audio,updatedate
      from tbl_doc
        <include refid="search"></include>
      order by bno asc
        limit #{skip},#{size}
    </select>

    <delete id="delete">
        delete from tbl_doc where #{bno}
    </delete>
    <select id="selectOne" resultType="com.docent.sp1.domain.Board">
    select * from tbl_doc where bno = #{bno}

    </select>
    <select id="getTotal" resultType="int">
    select count(bno) from tbl_doc
        <include refid="search"></include>
    </select>
    <update id="update">
        update tbl_doc set title =#{title}, introduce = #{introduce},classify = #{classify},updateDate = now() where bno =#{bno}
    </update>
</mapper>